/* CSSのコメントの書き方 (行の後ろに書いてもよい) 
   好きにいろいろ変更してみましょう
*/

.App { /* 全体の表示枠の設定 */
  text-align: left; /* 左寄せ */
  max-width: 375px; /* 最大幅(ピクセル) 小さめのスマートフォンでの表示を想定 */
  margin: 0 auto; /* マージン自動 */
  padding: 30px;
  cursor: pointer; /* iPhone対応のため (ここに書く必要ないかも) */
}