.metronome {
  /* text-align: center; */
  text-align: left;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
  cursor: pointer;
}

.bpm-slider input {
  width: 80%;
  /* margin: 10px; */
  margin: auto;
  cursor: pointer;
}

.slider input {
  cursor: pointer;
}

.metronome button {
  background: #C94D46;
  padding: 10px;
  border: 1px solid #832420;
  border-radius: 2px;
 /*  width: 80px; */
  width: 60px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.redButton {
  background: #C94D46;
  padding: 10px;
  border: 1px solid #832420;
  border-radius: 2px;
/*  width: 80px; */
  width: 50px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}


.number input {
  width: 15%;
  margin: 10px;
  cursor: pointer;
}

.small-button button {
  background: #0000ff;
  padding: 10px;
  border: 1px solid #832420;
  border-radius: 2px;
  width: 50px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.loopButton button {
  background: #008888;
/*  padding: 10px; */
  padding: 0px;
  border: 1px solid #832420;
  border-radius: 2px;
/*  width: 80px; */
  width: 70px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.radioButton input {
  cursor: pointer;
}

.selector select {
  cursor: pointer;
}

.text input {
  cursor: pointer;
  max-width: 150px;
}

.table {
  width: 200px;
}

.tinyButton button {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 0 auto;
  text-align: center;
  line-height: 10px;
  border-radius: 5px;
  font-size: 20px;
  background: #00ffff;
  padding: 5px 5px;
  color: #000000;
}
