.metronome {
  // text-align: center;
  text-align: left;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
}

.bpm-slider input {
  width: 100%;
  // margin: 10px;
  margin: auto;
}

.metronome button {
  background: #C94D46;
  padding: 10px;
  border: 1px solid #832420;
  border-radius: 2px;
//  width: 80px;
  width: 60px;
  color: #fff;
  font-size: 18px;
}

.number input {
  width: 15%;
  margin: 10px;
}

.small-button button {
  background: #0000ff;
  padding: 10px;
  border: 1px solid #832420;
  border-radius: 2px;
  width: 50px;
  color: #fff;
  font-size: 15px;
}

.loopButton button {
  background: #008888;
//  padding: 10px;
  padding: 0px;
  border: 1px solid #832420;
  border-radius: 2px;
//  width: 80px;
  width: 80px;
  height: 40px;
  color: #fff;
  font-size: 18px;
}
